{% extends 'base.html.twig' %}

{% block body %}

    <header>
        <div class="container">
            <h1 class="logo"><a href="#"><img src="{{ asset('bundles/app/images/logoNima.png') }}" alt="NIMA SOFTWARE"></a></h1>
            <ul class="sf-menu">
                <li ><a href="{{ path('home') }}">Home</a> </li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Projects</a></li>
                <!-- <li><a href="Blog.php">Blog</a></li> -->
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </header>
    <title>NimaSoftware - Home</title>


    <div class="row-with-strip row_block row_block__indent-1 info-col row__style" style="display: flex;">
        <div class="container">
            <div class="left-strip"></div>
            <h3 class="info-col_title__style" class="company-title">Our Company</h3>
            <div class="row">
                <div class="grid_3">
                    <div class="info-col_col" style="height:250px;">
                        <i class="fa fa-bar-chart-o"></i>
                        <h4>Verifiable Information</h4>
                        <p>We offer references, models, artifacts and other tangible evidence of the projects that we have elaborated, to prove the quality of our work. Also, testimonies of our past clients are available.</p>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="info-col_col" style="height:250px;">
                        <i class="fa fa-cogs"></i>
                        <h4>Support</h4>
                        <p>Our company aims to be an integrated part of our clients' companies' success. We offer support at any time during the work week for any type of technical difficulty our clients may encounter.</p>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="info-col_col" style="height:250px;">
                        <i class="fa fa-calendar"></i>
                        <h4>Ingenuity and Professionalism</h4>
                        <p>Although we base our solutions on sophisticated principles and technologies, they are still easy to use and understand. We know how to make complicated things simple and useful.</p>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="info-col_col" style="height:250px;">
                        <i class="fa fa-group"></i>
                        <h4>Smart Communication</h4>
                        <p>You will not feel any time difference even if you are located on the other side of the globe. Depending on your requirements, complete project and progress information can be available around the clock.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--========= Info in Columns =========-->

    <div class="row-with-strip row_block row_block__indent-2 info-col bg-1">
        <div class="container">
            <h3 class="team-title preffix_5 grid_5">Meet Our Team</h3>
            <div class="row">
                <div class="grid_3">
                    <div class="info-col_col info-col_col__with-img bg">
                        <img src="images/stefanmatei_res.jpg" alt="">
                        <h4>Stefan Matei</h4>
                        <p>Project Manager</p>
                        <div class="info_social">
                            <a href="mailto:stefan.matei@cargoplanning.com">
                                <i class="email fa fa-envelope" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/stefan-matei-84a22310/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="info-col_col info-col_col__with-img bg">
                        <img src="images/stefanenache_res.jpg" alt="">
                        <h4>Stefan Enache</h4>
                        <p>Senior Web Developer</p>
                        <div class="info_social">
                            <a href="mailto:stefan@cargoplanning.com">
                                <i class="email fa fa-envelope" aria-hidden="true"></i>
                            </a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="info-col_col info-col_col__with-img bg">
                        <img src="images/alinacucu_res.jpg" alt="">
                        <h4>Alina-Marina Cucu</h4>
                        <p>Senior Web Developer</p>
                        <div class="info_social">
                            <a href="mailto:alina@cargoplanning.com">
                                <i class="email fa fa-envelope" aria-hidden="true"></i>
                            </a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="info-col_col info-col_col__with-img bg">
                        <img src="images/cristinanegrutu_res.jpg" alt="">
                        <h4>Cristina Negrutu</h4>
                        <p>Intermediate Web Developer</p>
                        <div class="info_social"><a href="#"></a>
                            <a href="mailto:cristina@cargoplanning.com">
                                <i class="email fa fa-envelope" aria-hidden="true"></i>
                            </a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row-with-strip row_block__indent-2 info-col bg-1">
        <div class="container">
            <div class="row preffix_1">
                <div class="grid_3">
                    <div class="info-col_col info-col_col__with-img bg">
                        <img src="images/mihaipricop_res.jpg" alt="">
                        <h4>Mihai Pricop</h4>
                        <p>Intermediate Web Developer</p>
                        <div class="info_social">
                            <a href="mailto:mihai@cargoplanning.com">
                                <i class="email fa fa-envelope" aria-hidden="true"></i>
                            </a>                       
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="info-col_col info-col_col__with-img bg">
                        <img src="images/ioanailiescu_res.jpg" alt="">
                        <h4>Ioana Iliescu</h4>
                        <p>Junior Web Developer</p>
                        <div class="info_social">
                            <a href="mailto:iliescuioana97@gmail.com">
                                <i class="email fa fa-envelope" aria-hidden="true"></i>
                            </a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="info-col_col info-col_col__with-img bg">
                        <img src="images/valericamotoc_res.jpg" alt="">
                        <h4>Valerica Motoc</h4>
                        <p>Sales manager</p>
                        <div class="info_social">
                            <a href="mailto:valerica@cargoplanning.com">
                                <i class="email fa fa-envelope" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/valerica-motoc-61796152/"><i class="fa fa-fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!--========= Text Block =========-->

    <div class="row-with-strip row_block text-block row__style itsolutions">
        <div class="container">
            <div class="left-strip"></div>
            <div class="left-block">
                <h3 style="margin-top: 15px;">Need IT Solutions?</h3>
                <img src="images/itsolution_res.jpg" alt="">
                <p>Are you a young professional looking forward to open a business or a representative of a big corporation trying to reach its full potential? Are you trying to find solutions in managing your stock, employees, finances, documents or clients or just looking to get more exposure on the big web? Have you ever thought that technology might be your answer?</p>
                </br>
                <p>We can help you implement your ideas through software products that are client-friendly, easy to use and adapt to your changing needs! We create products that will help you attract more clients to your company, help you stay organized and make your presence felt in your community. </br> What are you waiting for? Contact us and schedule a meeting to talk about how we can help you!</p>               
            </div>
        </div>
    </div>




    <footer>


        <div class="row_block row_block__indent-3 list-col">
            <div class="container">
                <div class="row">
                    <ul class="grid_2">
                        <li><h4 class="footer-title">OUR COMPANY</h4></li>
                        <li>SC NimaSoftware SRL</li>
                        <li>CUI: 34150371</li>
                        <li>Nr. Reg. Com.: J22/314/2015</li>

                    </ul>
                    <ul class="grid_2">
                        <li><h4 class="footer-title">LOCATION</h4></li>
                        <li>Str. Elena Doamna Nr.20-22,</li>
                        <li>Iasi Romania, Cladirea </li>
                        <li>Bursa Moldovei, etaj 3</li>
                    </ul>
                    <ul class="grid_2">
                        <li><h4 class="footer-title">CONTACT INFO</h4></li>
                        <li>Phone Number:</li>
                        <li>+40 773 397 283</li>
                        <li>Email address:</li>
                        <li>office@nimasoftware.com</li>
                    </ul>
                    <ul class="grid_2">
                        <li><h4 class="footer-title">Contact Us</h4></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Google Plus</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </footer>

{% endblock %}